@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

* {
    font-family: "Roboto Slab";
}

html {
    --colour: rgb(45, 54, 63);
    text-align: center;
    width: 100%;
    height: 90%;
    margin: 0;
    padding: 0;
}

p {
    color: white;
    text-align: center;
    position: relative;
    padding-top: none;
}

body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#bloodDisplay p {
    color:white;
    text-align: center;
    position: static;
}

#bloodDisplay {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

button {
    width: 10em;
    height: 2em;
    margin: .5em;
    border-radius: .5em;
    border-style: solid;
    border-color: black;
    color: white;
    background-color: var(--colour);
    outline: none;
    font-weight: bolder;
}

button:hover {
    cursor: pointer;
    background-color: grey;
    color: black;
    font-weight: bolder;
}

#shopMenu {
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    justify-items: flex-start;
}

#shopMenu #button-div {
    display: flex;
    flex-direction: row;
    align-content: space-around;
}

#shopMenu button {
    width: 15em;   
}


.button-dngr {
    color: red;
    font-weight: bolder;
}

.button-dngr:hover {
    cursor: pointer;
    background-color: red;
    color: white;
}


#stabFingerMenu {
    position: absolute;
    width: 35%;
    height: 25%;
    padding: 0;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
}

#stabFingerMenu button {
    font-size: 1.75em;
    width: 100%;
    height: 100%;
    margin: 0;
}

#settingsMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  

#settingsMenu label {
    color: white;
    font-weight: bolder;
    margin-top: 1em ;
    margin-bottom: .5em;
}
  /* The slider itself */
#settingsMenu input {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 10em; /* Full-width */
    height: 1em; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 5px; 
}
  
  /* Mouse-over effects */
#settingsMenu input:hover {
    opacity: 1; /* Fully shown on mouse-over */
}
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#settingsMenu input::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    border-color: white;
    border-style: solid;
    background: var(--colour); /* Green background */
    cursor: pointer; /* Cursor on hover */
}
  
#settingsMenu input::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: var(--colour); /* Green background */
    border-radius: 50%;
    border-color: white;
    border-style: solid;
    cursor: pointer; /* Cursor on hover */
}

#researchBar {
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: rgb(45, 54, 63);
    overflow: auto;
    border-style: solid;
    border-width: thin;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

div.content {
    margin-left: 300px;
    padding: 1px 16px;
    height: 100%;
}

@keyframes button {
    from {top: 75%;}
    to {top: 0%;}
}

#researchBar button {
    border-radius: 0em;
    position: relative;
    width: 20em;
    height: 7em;
    animation-name: button;
    animation-duration: 2s;
}

#navigationMenu .menuIcon {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 75px;
    width: 75px;
    transition-duration: 1.5s;
}